@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }
}

@media screen and (max-width:765px){
   .skill figure{
    width: 200px;
    height: 200px;
    margin-top: 15px;
   }

   .skill{
    display: grid;
    place-items: center;
   
   }

   .home-content{
    margin-bottom: 2rem;
   }

   .about, .skills, .services, .projects{
    padding: 2rem 5%;
   }
}