@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }

    header{
        padding: 3rem 5%;
        top: 0;
        left: 0;
        
    }

    .home-content{
        margin-top: 10rem;
    }

    section{
        padding: 0 5%;
        height: fit-content;
    }

    .services{
        margin-top: 20px;
    }

    .service-content{
        font-size: 1.2rem;
    }

    .projects, .contact{
        margin-top: 2rem;
    }

    .contact{
        height: 50vh;
    }

    footer{
        padding: 0 5%;
    }

}

@media screen and(max-width:600px){
    .contact{
        margin-top: 20px;
        height: 40vh;
    }
}

